
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@define-mixin Roboto-Bold {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@define-mixin Roboto-Reg {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}
